section.about {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
section.about h3{
  font-size: 48px;
  line-height: normal;
  font-weight: 400;
}

section.about p{
  font-size: 38px;
  font-weight: 100;
  width: 800px;
  line-height: 38px;
  text-align: center;
}

section.about p span{
  color: #00d9ffa4;
  font-weight: 400;
}

section.about .btn-1{
  width: 200px;
  height: 45px;
  font-size: 25px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.2s all;
  opacity: 0.7;
}

section.about .btn-1:hover{
  opacity: 1;
}

.btn-1::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn-1 20s infinite;
  border-radius: 10px;
}

@keyframes glowing-btn-1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-1::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}