*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
  background-color: #000000;
  font-family: 'Glory', sans-serif;
  min-width: 320px;
  display: flex;
  justify-content: center;
}